#!/bin/bash

# Checksum to trigger when pnpm global packages change
# {{ .packages.darwin.pnpm | toJson | sha256sum }}

set -eufo pipefail

export PNPM_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/pnpm"
export PATH="$PNPM_HOME/bin:$PATH"
export CI=true

{{- range .packages.darwin.pnpm.base }}
pnpm add -g {{ . }}
{{- end }}
