#!/bin/bash

set -eufo pipefail

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{- if not (lookPath "tailscale") }}
curl -fsSL https://pkgs.tailscale.com/stable/{{ .chezmoi.osRelease.id }}/{{ .chezmoi.osRelease.fedoraVersion }}.noarmor.gpg | {{ $sudo }}tee /usr/share/keyrings/tailscale-archive-keyring.gpg >/dev/null
curl -fsSL https://pkgs.tailscale.com/stable/{{ .chezmoi.osRelease.id }}/{{ .chezmoi.osRelease.fedoraVersion }}.tailscale-keyring.list | {{ $sudo }}tee /etc/yum.repos.d/tailscale.repo

{{ $sudo }}dnf install -y tailscale
{{- end }}
