#!/bin/bash

{{ $brewConfig := index .packages "linux-aurora" "brew" -}}
{{ $brews := $brewConfig.brews.base -}}

{{ if .personal -}}
{{   $brews = concat $brews $brewConfig.brews.personal -}}
{{ end -}}

{{ if .work -}}
{{   $brews = concat $brews $brewConfig.brews.work -}}
{{ end -}}

set -eufo pipefail

brew bundle --file=/dev/stdin --cleanup <<EOF
{{ range ($brews | sortAlpha | uniq ) -}}
brew {{ . | quote }}
{{ end -}}
EOF
