; nlopez GitHub identity: nlopez + DataDog org repos (and the chezmoi
; dotfile repo). Uses the noreply GitHub email.

[user]
  name = Nick Lopez
  email = 20211302+nlopez@users.noreply.github.com
  signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEvDNgTluafxfN++WnyRNqyVO7LfbvpTY5M6N24Kr9dI

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[core]
  sshCommand = ssh -o IdentityFile=~/.ssh/id_nlopez.pub -o IdentitiesOnly=yes
{{- if .work }}
  hooksPath = /usr/local/dd/global_hooks
{{- end }}

[credential "https://github.com"]
  username = nlopez
