{{- if .work }}
; nick-lopez_ddog GitHub identity: ddoghq + ddoghq-sandbox org repos.
; Uses the corporate email and the nick-lopez_ddog SSH signing key.

[user]
  name = Nick Lopez
  email = nick.lopez@datadoghq.com
  signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBBR+gLNzHTbzl9kHvh2oWeBgsSEGMUYlKXqr3Tm6LTR

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[core]
  sshCommand = ssh -o IdentityFile=~/.ssh/id_nick-lopez_ddog.pub -o IdentitiesOnly=yes
  hooksPath = /usr/local/dd/global_hooks

[credential "https://github.com"]
  username = nick-lopez_ddog
{{- end }}
