# Managed by chezmoi.
# Espanso config defaults: https://espanso.org/docs/configuration/options/
show_notifications: {{ .espanso.config.show_notifications }}
toggle_key: {{ .espanso.config.toggle_key | quote }}
search_shortcut: {{ .espanso.config.windows.search_shortcut | quote }}
