{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env sh
brew bundle --file=/dev/stdin <<EOF
brew "atuin"
brew "direnv"
brew "fzf"
brew "git"
brew "ryooooooga/tap/zabrze"
brew "sheeki03/tap/tirith"
brew "starship"
brew "tirith"
brew "tmux"
brew "uv"
brew "zabrze"
brew "zoxide"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
cask "font-iosevka-nerd-font"
cask "font-iosevka-term-nerd-font"
cask "ghostty"
EOF
{{ end -}}
