// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "cursor_shape": "block",
  "agent_servers": {
    "claude-acp": {
      "type": "registry",
      "default_config_options": {
        "mode": "acceptEdits"
      }
    }
  },
  "edit_predictions": {
    "provider": "copilot"
  },
  "autosave": "on_focus_change",
  "agent": {
    "profiles": {},
    "default_model": {
      "provider": "anthropic",
      "model": "claude-sonnet-4-6-latest",
      "enable_thinking": false
    },
    "favorite_models": [],
    "model_parameters": []
  },
  "ui_font_family": ".ZedSans",
  "buffer_font_family": "Iosevka Nerd Font",
  "terminal": {
    "font_family": "IosevkaTerm Nerd Font Mono"
  },
  "tab_size": 2,
  "ssh_connections": [
    {
      "host": "github.com",
      "args": [],
      "projects": []
    }
  ],
  "wsl_connections": [
    {
      "distro_name": "Ubuntu",
      "user": null,
      "projects": []
    }
  ],
  "ui_font_size": 16,
  "buffer_font_size": 16,
  "theme": {
    "mode": "system",
    "light": "One Light",
    "dark": "One Dark"
  },
  "auto_install_extensions": {
    "csv": true,
    "dockerfile": true,
    "git-firefly": true,
    "make": true,
    "sql": true,
    "terraform": true,
    "toml": true,
    "xml": true
  },
  "languages": {
    "SQL": {
      "formatter": {
        "external": {
          "command": "sql-formatter",
          "arguments": ["--language", "mysql"]
        }
      }
    },
    "YAML": {
      "formatter": {
        "external": {
          "command": "yamlfmt",
          "arguments": ["-"]
        }
      }
    }
  }
}
