!.oh-my-zsh/plugins
{{ range .zshPlugins }}
!.oh-my-zsh/plugins/{{ . }}
!.oh-my-zsh/plugins/{{ . }}/**
{{- end }}
.oh-my-zsh/cache/**
.oh-my-zsh/plugins/**
.oh-my-zsh/templates/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc

# Ignore scripts for different operating systems.
{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
Library/Application Support/espanso/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/**
Documents
{{ else }}
# For Windows, explicitly include the dotfiles we want.
*
!.chezmoiscripts/windows/**
!Documents/**
!AppData/**
!.chezmoidata/windows/**
!.config/git/**
!.config/rclone/**
!.ssh/config
!.local/bin/**
{{ end }}

{{ if not .personal }}
.ssh/config_hobby
{{ end }}

{{ if .headless }}
.config/zed
.config/ghostty
{{ end }}
