# Ignore scripts for different operating systems.
{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents
{{ else }}
# For Windows, explicitly include the dotfiles we want.
*
!.chezmoiscripts/windows/**
!Documents/**
!.config/git/**
!.config/rclone/**
!.ssh/**
{{ end }}
