{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this machine is for fun */}}
{{- $work := false -}}{{/* true if this machine is for pay */}}
{{- $wsl := false -}}{{/* true if we're running inside wsl */}}
{{- $headless := false -}}{{/* true if we're without a graphical display */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g.: a cloud or VM instance */}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{/* detect windows subsystem for linux */}}
{{- if and (eq .chezmoi.os "linux") (contains "microsoft" (.chezmoi.kernel.osrelease | lower)) -}}
{{-   $wsl = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $personalHosts := list "raphael" "intelol" "wassail" "akane" }}
{{- if has $hostname $personalHosts -}}
{{-   $personal = true -}}
{{- end -}}

{{- if eq $hostname "wassail" -}}
{{-   $headless = true -}}
{{- end -}}

{{- if eq $hostname "COMP-P20H4J4Q12" -}}
{{-   $work = true -}}
{{- end -}}

[data]
name = "Nick Lopez"
email = "20211302+nlopez@users.noreply.github.com"
signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEvDNgTluafxfN++WnyRNqyVO7LfbvpTY5M6N24Kr9dI"
hostname = {{ $hostname | quote }}
personal = {{ $personal }}
work = {{ $work }}
wsl = {{ $wsl }}
ephemeral = {{ $ephemeral }}
headless = {{ $headless }}

zshPlugins = [
  "zsh-autosuggestions",
  "vi-mode",
  "zoxide",
  "fzf",
  "direnv",
  "eza",
  "docker",
  "atuin",
  "zsh-syntax-highlighting",
]

{{- if eq .chezmoi.os "windows" }}
[cd]
command = "powershell.exe"
{{- end }}
