if [[ -n "$ZSH_DO_PROFILING" ]]; then zmodload zsh/zprof; fi

###############################################################################
# XDG & helpers
###############################################################################
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache

function _source() {
  [[ -f $1 ]] && source "$@"
}

function _command() {
  command -v $1 >/dev/null 2>&1
}

###############################################################################
# History (after XDG so HISTFILE path is valid)
###############################################################################
export HISTFILE="${XDG_STATE_HOME}/zsh_history"
export HISTSIZE=50000
export SAVEHIST=$HISTSIZE
setopt BANG_HIST                 # Treat the '!' character specially during expansion.
setopt EXTENDED_HISTORY          # Write the history file in the ":start:elapsed;command" format.
setopt INC_APPEND_HISTORY        # Write to the history file immediately, not when the shell exits.
setopt APPEND_HISTORY            # Always append to, never overwrite
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_IGNORE_DUPS          # Don't record an entry that was just recorded again.
setopt HIST_FIND_NO_DUPS         # Do not display a line previously found.
setopt HIST_IGNORE_SPACE         # Don't record an entry starting with a space.
setopt HIST_SAVE_NO_DUPS         # Don't write duplicate entries in the history file.
setopt HIST_REDUCE_BLANKS        # Remove superfluous blanks before recording entry.
setopt HIST_VERIFY               # Don't execute immediately upon history expansion.
setopt HIST_BEEP                 # Beep when accessing nonexistent history.

###############################################################################
# PATH / umask / env (BREW_PREFIX often in .zshrc_local)
###############################################################################
typeset -gaU fpath path manpath

# Non-login interactive shells (e.g. chezmoi cd) skip .zprofile; pure + brew
# completions live under site-functions.

{{ $foundBrewPrefix := or (and (stat "/opt/homebrew/bin/brew") "/opt/homebrew") (and (stat "/home/linuxbrew/.linuxbrew/bin/brew") "/home/linuxbrew/.linuxbrew") (and (stat "/usr/local/bin/brew") "/usr/local") "" -}}
{{ if $foundBrewPrefix -}}
BREW_PREFIX="{{ $foundBrewPrefix }}"
fpath+=("${BREW_PREFIX}/share/zsh/site-functions")

eval "$(${BREW_PREFIX}/bin/brew shellenv)"
{{ end -}}
{{ $paths := list -}}
{{- /* home directory paths */ -}}
{{- $homeDir := .chezmoi.homeDir -}}
{{- range $_, $relPath := list "bin" "go/bin" ".cargo/bin" ".local/bin" -}}
  {{- $path := joinPath $homeDir $relPath -}}
  {{- if stat $path -}}
    {{- $paths = mustAppend $paths $path -}}
  {{- end -}}
{{- end -}}
{{- /* work paths */ -}}
{{- if .work -}}
  {{- range $_, $workPath := list "/opt/dogbrew/bin" -}}
    {{- if stat $workPath -}}
      {{- $paths = mustAppend $paths $workPath -}}
    {{- end -}}
{{- end -}}
{{- end -}}
{{- /* set paths */ -}}
{{- if $paths -}}
path=({{ toStrings $paths | join ":" }} $path)
{{ end -}}

umask 077

{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_CASK_OPTS="--appdir=${HOME}/Applications"
export SSH_AUTH_SOCK="${HOME}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_ENV_HINTS=1
{{- end }}

export TENV_AUTO_INSTALL=true
export GOPATH="${XDG_DATA_HOME}/go"

# shellcheck source=./.zshrc_local
_source "$ZDOTDIR/.zshrc_local"

{{ if and (eq .chezmoi.os "darwin") $foundBrewPrefix }}
  {{- $gPathAdds := list }}
  {{- $gManpathAdds := list }}
  {{- $gFormulas := list "coreutils" "gnu-sed" "findutils" "gnu-tar" "gnu-time" "gnu-getopt" "gnu-indent" "gnu-which" "grep" }}
  {{- range $formula := $gFormulas }}
    {{- $gnubin := printf "%s/opt/%s/libexec/gnubin" $foundBrewPrefix $formula }}
    {{- $gnuman := printf "%s/opt/%s/libexec/gnuman" $foundBrewPrefix $formula }}
    {{- if stat $gnubin }}{{ $gPathAdds = mustAppend $gPathAdds $gnubin }}{{ end }}
    {{- if stat $gnuman }}{{ $gManpathAdds = mustAppend $gManpathAdds $gnuman }}{{ end }}
  {{- end }}
  {{- /* Prepend GNU *gnubin / *gnuman so they beat macOS /usr/bin and man paths */}}
  {{- if $gPathAdds }}
path=({{ toStrings $gPathAdds | join ":" }} $path)
  {{- end }}
  {{- if $gManpathAdds }}
manpath=({{ toStrings $gManpathAdds | join ":" }} $manpath)
  {{- end }}
{{ end }}

# gcloud CLI PATH (before completion)
_source "$BREW_PREFIX/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc"

###############################################################################
# Shell options (before completion / key widgets)
###############################################################################
setopt cdablevars
setopt extendedglob
setopt nocaseglob
setopt kshoptionprint
setopt correct
setopt complete_in_word
setopt always_to_end

setopt autopushd pushdminus pushdsilent pushdtohome pushdignoredups
alias dh='dirs -v'
export DIRSTACKSIZE=100

autoload -U edit-command-line
zle -N edit-command-line
bindkey '^xe' edit-command-line
bindkey '^x^e' edit-command-line

###############################################################################
# Completion (after PATH/fpath settled)
###############################################################################
autoload -Uz compinit bashcompinit
if [[ -n ${ZDOTDIR:-$HOME}/.zcompdump(#qN.mh+24) ]]; then
  compinit -C -d "${ZDOTDIR:-$HOME}/.zcompdump"
else
  compinit -d "${ZDOTDIR:-$HOME}/.zcompdump"
fi

bashcompinit

zstyle ':completion:*' menu select
zstyle ':completion:*' special-dirs true

_source "$BREW_PREFIX/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc"

{{- $paths := list "share/zsh-autosuggestions/zsh-autosuggestions.zsh" "opt/zsh-fast-syntax-highlighting/share/zsh-fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh" "share/zsh-autocomplete/zsh-autocomplete.plugin.zsh" -}}
{{- range $_, $path := $paths }}
{{- $path := joinPath $foundBrewPrefix $path -}}
{{- if stat $path }}
{{ printf "source %s\n" $path }}
{{- end }}
{{- end }}

eval "$(chezmoi completion zsh)"

###############################################################################
# Prompt
###############################################################################
autoload -U promptinit
promptinit
prompt pure

###############################################################################
# Hooks & tools that use completion / zle
###############################################################################
{{- if lookPath "zoxide" }}
eval "$(zoxide init zsh)"
alias cd=z
{{- end }}

_command zabrze && eval "$(zabrze init --bind-keys)"

if _command direnv; then eval "$(direnv hook zsh)"; fi

{{- if lookPath "atuin" }}
# https://news.ycombinator.com/item?id=35256206
atuin-setup() {
  export ATUIN_NOBIND="true"
  eval "$(atuin init zsh)"
  fzf-atuin-history-widget() {
    local selected num
    setopt localoptions noglobsubst noposixbuiltins pipefail no_aliases 2>/dev/null

    local atuin_opts="--cmd-only"
    local fzf_opts=(
      --height=${FZF_TMUX_HEIGHT:-80%}
      --tac
      "-n2..,.."
      --tiebreak=index
      "--query=${LBUFFER}"
      "+m"
      "--bind=ctrl-d:reload(atuin search $atuin_opts -c $PWD),ctrl-r:reload(atuin search $atuin_opts)"
    )

    selected=$(
      eval "atuin search ${atuin_opts}" |
        fzf "${fzf_opts[@]}"
    )
    local ret=$?
    if [ -n "$selected" ]; then
      LBUFFER+="${selected}"
    fi
    zle reset-prompt
    return $ret
  }
  zle -N fzf-atuin-history-widget
  bindkey '^R' fzf-atuin-history-widget
}
atuin-setup
{{- end }}

###############################################################################
# Editor & pager
###############################################################################
if _command cursor; then
  export EDITOR="cursor --add --wait"
  alias e="cursor --add"
elif _command code; then
  export EDITOR="code --add --wait"
  alias e="code --add"
fi

export WORDCHARS=""
export LESS="--raw-control-chars --quit-if-one-screen --no-init"
export LESSCHARSET="utf-8"
export MANPAGER="less --use-color -Dd+r -Du+b"
export PAGER="less"

###############################################################################
# Aliases
###############################################################################
_command brew && alias brewup="brew update && brew upgrade && brew cleanup"
alias reload="exec \$SHELL"

{{- if lookPath "bat" }}
alias cat="bat"
{{- end }}
{{- if lookPath "batcat" }}
alias cat="batcat"
{{- end }}
{{- if lookPath "rg" }}
alias grep="rg"
{{- end }}
{{- if lookPath "eza" }}
alias ls="eza"
{{- end }}
{{- if lookPath "fd" }}
alias find="fd"
{{- end }}
{{- if lookPath "fdfind" }}
alias find="fdfind"
alias fd="fdfind"
{{- end }}

_command kubectx && alias kctx=kubectx
_command kubens && alias kns=kubens

###############################################################################
# Functions
###############################################################################
wt()      { git worktree add -b "$1" "$WT_DIR/$1" "${2:-main}"; }
wtr()     { git fetch origin "$1" && git worktree add --detach "$WT_DIR/${2:-${1//\//-}}" "origin/$1"; }
wtrm()    { git worktree remove "$WT_DIR/$1" && [ "${2:-}" != "-k" ] && git branch -d "$1" 2>/dev/null; }
wtl()     { git worktree list; }
wtcd()    { cd "$WT_DIR/$1"; }
wtprune() { git worktree prune -v; }

{{ if .work }}
export AWS_VAULT_KEYCHAIN_NAME=login
{{- end }}

if [[ -n "$ZSH_DO_PROFILING" ]]; then zprof; fi

_command tmux && if [[ "$TMUX" == "" ]]; then tmux -u new-session -s 0 -A; fi
