[do]
type = s3
provider = DigitalOcean
access_key_id = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/zzx46ycysvrilx6ikvxv2f6pym/access_key_id" }}     {{/* do */}}
secret_access_key = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/zzx46ycysvrilx6ikvxv2f6pym/secret_access_key" }} {{/* do */}}
endpoint = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/zzx46ycysvrilx6ikvxv2f6pym/endpoint" }}                 {{/* do */}}

[media]
type = webdav
url = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/iqcpdvblhejariq36w6ka352l4/url" }}   {{/* media_webdav */}}
user = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/iqcpdvblhejariq36w6ka352l4/user" }} {{/* media_webdav */}}
pass = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/iqcpdvblhejariq36w6ka352l4/pass" }} {{/* media_webdav */}}
vendor = rclone

[dropbox_personal]
type = dropbox
token = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/ebuheml64yropanzhaysuki33y/token" }} {{/* dropbox_personal */}}

[dropbox_alt]
type = dropbox
token = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/dqz54idqdhxf75fjhlxz6pvwcq/token" }} {{/* dropbox_alt */}}

[gdrive_personal]
type = combine
upstreams = "My Drive=gdrive_personal_my_drive:" "Shared with me=gdrive_personal_shared_with_me:"

[gdrive_personal_shared_with_me]
type = drive
client_id = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/7c6um3cxafs4lc7lcdy2fq6iiy/client_id" }}         {{/* gdrive_personal */}}
client_secret = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/7c6um3cxafs4lc7lcdy2fq6iiy/client_secret" }} {{/* gdrive_personal */}}
token = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/7c6um3cxafs4lc7lcdy2fq6iiy/token" }}                 {{/* gdrive_personal */}}
scope = drive
shared_with_me = true

[gdrive_personal_my_drive]
type = drive
client_id = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/7c6um3cxafs4lc7lcdy2fq6iiy/client_id" }}         {{/* gdrive_personal */}}
client_secret = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/7c6um3cxafs4lc7lcdy2fq6iiy/client_secret" }} {{/* gdrive_personal */}}
token = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/7c6um3cxafs4lc7lcdy2fq6iiy/token" }}                 {{/* gdrive_personal */}}
scope = drive
shared_with_me = false

[gdrive_alt]
type = combine
upstreams = "My Drive=gdrive_alt_my_drive:" "Shared with me=gdrive_alt_shared_with_me:"

[gdrive_alt_shared_with_me]
type = drive
client_id = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/ncfvv76pe4ov36t3pzlhbph7pq/client_id" }}         {{/* gdrive_alt */}}
client_secret = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/ncfvv76pe4ov36t3pzlhbph7pq/client_secret" }} {{/* gdrive_alt */}}
scope = drive
shared_with_me = true
token = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/ncfvv76pe4ov36t3pzlhbph7pq/token" }}                 {{/* gdrive_alt */}}

[gdrive_alt_my_drive]
type = drive
client_id = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/ncfvv76pe4ov36t3pzlhbph7pq/client_id" }}         {{/* gdrive_alt */}}
client_secret = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/ncfvv76pe4ov36t3pzlhbph7pq/client_secret" }} {{/* gdrive_alt */}}
scope = drive
shared_with_me = false
token = {{ onepasswordRead "op://evjh25ux2mnoufaut6qhvm2pdi/ncfvv76pe4ov36t3pzlhbph7pq/token" }}               {{/* gdrive_alt */}}

# VFS cache - global settings for all remotes.
# Ref: https://rclone.org/vfs/
# Cache mode: full = cache metadata + file content (recommended)
# max-size:   cap on total cached file size
# max-age:    files older than this become eligible for cleanup
# poll-interval: how often the cache checks for changes
[rclone]
vfs-cache-mode = full
vfs-cache-max-size = 50G
vfs-cache-max-age = 168h
vfs-cache-poll-interval = 15m
vfs-read-ahead = 128K
vfs-read-chunk-size = 64K
