[do]
type = s3
provider = DigitalOcean
access_key_id = {{ onepasswordRead "op://Automation/do/access_key_id" "my.1password.com" }}     {{/* do */}}
secret_access_key = {{ onepasswordRead "op://Automation/do/secret_access_key" "my.1password.com" }} {{/* do */}}
endpoint = {{ onepasswordRead "op://Automation/do/endpoint" "my.1password.com" }}                 {{/* do */}}

[media]
type = webdav
url = {{ onepasswordRead "op://Automation/media_webdav/url" "my.1password.com" }}   {{/* media_webdav */}}
user = {{ onepasswordRead "op://Automation/media_webdav/user" "my.1password.com" }} {{/* media_webdav */}}
pass = {{ onepasswordRead "op://Automation/media_webdav/pass" "my.1password.com" }} {{/* media_webdav */}}
vendor = rclone

[dropbox_personal]
type = dropbox
token = {{ onepasswordRead "op://Automation/dropbox_personal/token" "my.1password.com" }} {{/* dropbox_personal */}}

[dropbox_alt]
type = dropbox
token = {{ onepasswordRead "op://Automation/dropbox_alt/token" "my.1password.com" }} {{/* dropbox_alt */}}

[gdrive_personal]
type = combine
upstreams = "My Drive=gdrive_personal_my_drive:" "Shared with me=gdrive_personal_shared_with_me:"

[gdrive_personal_shared_with_me]
type = drive
client_id = {{ onepasswordRead "op://Automation/gdrive_personal/client_id" "my.1password.com" }}         {{/* gdrive_personal */}}
client_secret = {{ onepasswordRead "op://Automation/gdrive_personal/client_secret" "my.1password.com" }} {{/* gdrive_personal */}}
token = {{ onepasswordRead "op://Automation/gdrive_personal/token" "my.1password.com" }}                 {{/* gdrive_personal */}}
scope = drive
shared_with_me = true

[gdrive_personal_my_drive]
type = drive
client_id = {{ onepasswordRead "op://Automation/gdrive_personal/client_id" "my.1password.com" }}         {{/* gdrive_personal */}}
client_secret = {{ onepasswordRead "op://Automation/gdrive_personal/client_secret" "my.1password.com" }} {{/* gdrive_personal */}}
token = {{ onepasswordRead "op://Automation/gdrive_personal/token" "my.1password.com" }}                 {{/* gdrive_personal */}}
scope = drive
shared_with_me = false

[gdrive_alt]
type = combine
upstreams = "My Drive=gdrive_alt_my_drive:" "Shared with me=gdrive_alt_shared_with_me:"

[gdrive_alt_shared_with_me]
type = drive
client_id = {{ onepasswordRead "op://Automation/gdrive_alt/client_id" "my.1password.com" }}         {{/* gdrive_alt */}}
client_secret = {{ onepasswordRead "op://Automation/gdrive_alt/client_secret" "my.1password.com" }} {{/* gdrive_alt */}}
scope = drive
shared_with_me = true
token = {{ onepasswordRead "op://Automation/gdrive_alt/token" "my.1password.com" }}                 {{/* gdrive_alt */}}

[gdrive_alt_my_drive]
type = drive
client_id = {{ onepasswordRead "op://Automation/gdrive_alt/client_id" "my.1password.com" }}         {{/* gdrive_alt */}}
client_secret = {{ onepasswordRead "op://Automation/gdrive_alt/client_secret" "my.1password.com" }} {{/* gdrive_alt */}}
scope = drive
shared_with_me = false
token = {{ onepasswordRead "op://Automation/gdrive_alt/token" "my.1password.com" }}               {{/* gdrive_alt */}}

# VFS cache - global settings for all remotes.
# Ref: https://rclone.org/vfs/
# Cache mode: full = cache metadata + file content (recommended)
# max-size:   cap on total cached file size
# max-age:    files older than this become eligible for cleanup
# poll-interval: how often the cache checks for changes
[rclone]
vfs-cache-mode = full
vfs-cache-max-size = 50G
vfs-cache-max-age = 168h
vfs-cache-poll-interval = 15m
vfs-read-ahead = 128K
vfs-read-chunk-size = 64K
