#!/bin/bash

{{ $aptConfig := .packages.linux.apt -}}
{{ $packages := $aptConfig.packages.base -}}

{{ if .personal -}}
{{   $packages = concat $packages $aptConfig.packages.personal -}}
{{ end -}}

{{ if .work -}}
{{   $packages = concat $packages $aptConfig.packages.work -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | sortAlpha | uniq | join " " }}
