# Managed by chezmoi.
# Espanso match basics: https://espanso.org/docs/configuration/basics/
matches:
{{- range $m := .espanso.matches.base }}
  - replace: {{ $m.replace | quote }}
{{- $triggers := index $m "triggers" }}
{{- if $triggers }}
    triggers: [{{ range $i, $t := $triggers }}{{ if $i }}, {{ end }}{{ $t | quote }}{{ end }}]
{{- else }}
    triggers: [{{ (index $m "trigger") | quote }}]
{{- end }}
{{- end }}
{{- range $m := .espanso.matches.windows }}
  - replace: {{ $m.replace | quote }}
{{- $triggers := index $m "triggers" }}
{{- if $triggers }}
    triggers: [{{ range $i, $t := $triggers }}{{ if $i }}, {{ end }}{{ $t | quote }}{{ end }}]
{{- else }}
    triggers: [{{ (index $m "trigger") | quote }}]
{{- end }}
{{- end }}
{{- if .personal }}
{{- range $m := .espanso.matches.personal }}
  - replace: {{ $m.replace | quote }}
{{- $triggers := index $m "triggers" }}
{{- if $triggers }}
    triggers: [{{ range $i, $t := $triggers }}{{ if $i }}, {{ end }}{{ $t | quote }}{{ end }}]
{{- else }}
    triggers: [{{ (index $m "trigger") | quote }}]
{{- end }}
{{- end }}
{{- end }}
{{- if .work }}
{{- range $m := .espanso.matches.work }}
  - replace: {{ $m.replace | quote }}
{{- $triggers := index $m "triggers" }}
{{- if $triggers }}
    triggers: [{{ range $i, $t := $triggers }}{{ if $i }}, {{ end }}{{ $t | quote }}{{ end }}]
{{- else }}
    triggers: [{{ (index $m "trigger") | quote }}]
{{- end }}
{{- end }}
{{- end }}
