{{ $packages := list
     "1password-cli"
     "7zip"
     "brave"
     "cpu-z"
     "eartrumpet"
     "everything"
     "gimp"
     "git"
     "gsudo"
     "icaros-np"
     "irfanview"
     "losslesscut"
     "mpv"
     "nvcleanstall"
     "open-shell-np"
     "oxipng"
     "paint.net"
     "runcat"
     "sharex"
     "steam"
     "sumatrapdf"
     "tailscale"
     "vscode"
     "windows-terminal"
     "go"
     "hwinfo"
     "firefox"
     "zen-browser"
     "espanso"
-}}

$bucketSources = [ordered]@{
     "main" = "https://github.com/ScoopInstaller/Main"
     "extras" = "https://github.com/ScoopInstaller/Extras"
     "versions" = "https://github.com/ScoopInstaller/Versions"
     "nonportable" = "https://github.com/ScoopInstaller/Nonportable"
}

$packages = @(
{{- range ($packages | sortAlpha | uniq) }}
     "{{ . }}"
{{- end }}
)

$scoopState = scoop export | Out-String | ConvertFrom-Json

$installedBuckets = @{}
foreach ($bucket in $scoopState.buckets) {
     if ($bucket.Name) {
          $installedBuckets[$bucket.Name] = $true
     }
}

$installedPackages = @{}
foreach ($app in $scoopState.apps) {
     if ($app.Name) {
          $installedPackages[$app.Name] = $true
     }
}

foreach ($entry in $bucketSources.GetEnumerator()) {
     if (-not $installedBuckets.ContainsKey($entry.Key)) {
          if ($entry.Value) {
               scoop bucket add $entry.Key $entry.Value
          }
          else {
               scoop bucket add $entry.Key
          }
     }
}

foreach ($package in $packages) {
     if (-not $installedPackages.ContainsKey($package)) {
          scoop install $package
     }
}
