{{ $buckets := list
     "main"
     "extras"
     "versions"
     "nonportable"
-}}

{{ $packages := list
     "1password-cli"
     "7zip"
     "brave"
     "cpu-z"
     "eartrumpet"
     "everything"
     "gimp"
     "git"
     "gsudo"
     "icaros-np"
     "irfanview"
     "losslesscut"
     "mpv"
     "nvcleanstall"
     "open-shell-np"
     "oxipng"
     "paint.net"
     "runcat"
     "sharex"
     "steam"
     "sumatrapdf"
     "tailscale"
     "vscode"
     "windows-terminal"
     "go"
     "tirith"
-}}

$buckets = @(
{{- range ($buckets | sortAlpha | uniq) }}
     "{{ . }}"
{{- end }}
)

scoop bucket add tirith https://github.com/sheeki03/scoop-tirith

$packages = @(
{{- range ($packages | sortAlpha | uniq) }}
     "{{ . }}"
{{- end }}
)

$installedBuckets = @{}
scoop bucket list | Select-Object -Skip 2 | ForEach-Object {
     $name = ($_ -split '\s+')[0]
     if ($name) {
          $installedBuckets[$name] = $true
     }
}

foreach ($bucket in $buckets) {
     if (-not $installedBuckets.ContainsKey($bucket)) {
          scoop bucket add $bucket
     }
}

foreach ($package in $packages) {
     scoop install $package
}
