{{- if eq .chezmoi.os "darwin" }}{
  "providers": {
    "omlx": {
      "baseUrl": "http://localhost:8000/v1",
      "api": "openai-completions",
      "apiKey": "omlx-kdc8uke8vsvje15d",
      "authHeader": true,
      "models": [
        {
          "id": "GLM-OCR-bf16",
          "name": "GLM-OCR-bf16 (Local)",
          "reasoning": false,
          "input": [
            "text"
          ],
          "contextWindow": 262144,
          "maxTokens": 32768
        },
        {
          "id": "Mixtral-8x22B-4bit",
          "name": "Mixtral-8x22B-4bit (Local)",
          "reasoning": false,
          "input": [
            "text"
          ],
          "contextWindow": 262144,
          "maxTokens": 32768
        },
        {
          "id": "Qwen3.6-35B-A3B-nvfp4",
          "name": "Qwen3.6-35B-A3B-nvfp4 (Local)",
          "reasoning": true,
          "input": [
            "text"
          ],
          "compat": {
            "thinkingFormat": "qwen-chat-template"
          },
          "contextWindow": 262144,
          "maxTokens": 32768
        },
        {
          "id": "Qwen3.6-35B-A3B-UD-MLX-4bit",
          "name": "Qwen3.6-35B-A3B-UD-MLX-4bit (Local)",
          "reasoning": true,
          "input": [
            "text"
          ],
          "compat": {
            "thinkingFormat": "qwen-chat-template"
          },
          "contextWindow": 262144,
          "maxTokens": 32768
        }
      ]
    }
  }
}
{{- else }}{}
{{- end -}}
