db_path = "${XDG_DATA_HOME}/atuin/history.db"
key_path = "${XDG_DATA_HOME}/atuin/key"
session_path = "${XDG_DATA_HOME}/atuin/session"
{{- if .work }}
auto_sync = false
{{- else }}
auto_sync = true
{{- end }}
update_check = false

history_filter = [
  "^(echo|printf)([^|><]|$)*$",
]

[sync]
records = true # enable sync v2
