{{- $s := .solarized -}}
{
  "$schema": "https://zed.dev/schema/themes/v0.2.0.json",
  "author": "harmtemolder",
  "name": "Solarized",
  "themes": [
    {
      "appearance": "dark",
      "name": "Solarized Dark",
      "style": {
        "accents": ["{{ $s.blue }}"],
        "background": "{{ $s.base03 }}",
        "background.appearance": "transparent",
        "border": "{{ $s.base01 }}",
        "border.disabled": null,
        "border.focused": "{{ $s.base0 }}",
        "border.selected": "{{ $s.blue }}",
        "border.transparent": null,
        "border.variant": null,
        "conflict": "{{ $s.red }}",
        "conflict.background": "{{ $s.base03 }}",
        "conflict.border": "{{ $s.red }}",
        "created": "{{ $s.green }}",
        "created.background": "{{ $s.base03 }}",
        "created.border": "{{ $s.green }}",
        "deleted": "{{ $s.orange }}",
        "deleted.background": "{{ $s.base03 }}",
        "deleted.border": "{{ $s.orange }}",
        "drop_target.background": "{{ $s.base02 }}",
        "editor.active_line.background": "{{ $s.base02 }}",
        "editor.active_line_number": "{{ $s.base0 }}",
        "editor.active_wrap_guide": "{{ $s.base01 }}",
        "editor.background": "{{ $s.base03 }}",
        "editor.document_highlight.bracket_background": "{{ $s.blue }}66",
        "editor.document_highlight.read_background": "{{ $s.blue }}33",
        "editor.document_highlight.write_background": "{{ $s.blue }}33",
        "editor.foreground": "{{ $s.base0 }}",
        "editor.gutter.background": "{{ $s.base03 }}",
        "editor.highlighted_line.background": "{{ $s.base03 }}",
        "editor.indent_guide": "{{ $s.base02 }}",
        "editor.indent_guide_active": "{{ $s.orange }}",
        "editor.invisible": "{{ $s.base02 }}",
        "editor.line_number": "{{ $s.base01 }}",
        "editor.subheader.background": "{{ $s.base03 }}",
        "editor.wrap_guide": "{{ $s.base02 }}",
        "element.active": "{{ $s.base02 }}",
        "element.background": "{{ $s.base02 }}",
        "element.disabled": "{{ $s.base02 }}",
        "element.hover": "{{ $s.base02 }}",
        "element.selected": "{{ $s.blue }}66",
        "elevated_surface.background": "{{ $s.base03 }}",
        "error": "{{ $s.red }}",
        "error.background": "{{ $s.base03 }}",
        "error.border": "{{ $s.red }}",
        "ghost_element.active": "{{ $s.base0 }}",
        "ghost_element.background": "{{ $s.base02 }}",
        "ghost_element.disabled": "{{ $s.base01 }}",
        "ghost_element.hover": "{{ $s.blue }}66",
        "ghost_element.selected": "{{ $s.blue }}66",
        "hidden": "{{ $s.base01 }}",
        "hidden.background": "{{ $s.base03 }}",
        "hidden.border": "{{ $s.base03 }}",
        "hint": "{{ $s.base01 }}AA",
        "hint.background": "{{ $s.base03 }}00",
        "hint.border": "{{ $s.base01 }}",
        "icon": "{{ $s.base0 }}",
        "icon.accent": "{{ $s.blue }}",
        "icon.disabled": "{{ $s.base01 }}",
        "icon.muted": "{{ $s.base01 }}",
        "icon.placeholder": "{{ $s.base01 }}",
        "ignored": "{{ $s.base01 }}",
        "ignored.background": "{{ $s.base03 }}",
        "ignored.border": "{{ $s.base01 }}",
        "info": "{{ $s.blue }}",
        "info.background": "{{ $s.base03 }}",
        "info.border": "{{ $s.blue }}",
        "link_text.hover": "{{ $s.blue }}",
        "modified": "{{ $s.yellow }}",
        "modified.background": "{{ $s.base03 }}",
        "modified.border": "{{ $s.yellow }}",
        "pane.focused_border": "{{ $s.blue }}",
        "pane_group.border": "{{ $s.base0 }}",
        "panel.background": "{{ $s.base02 }}",
        "panel.focused_border": "{{ $s.blue }}",
        "panel.indent_guide": "{{ $s.base01 }}",
        "panel.indent_guide_active": "{{ $s.orange }}",
        "panel.indent_guide_hover": "{{ $s.base0 }}",
        "players": [
          { "background": "{{ $s.blue }}",    "cursor": "{{ $s.blue }}",    "selection": "{{ $s.blue }}66"    },
          { "background": "{{ $s.cyan }}",    "cursor": "{{ $s.cyan }}",    "selection": "{{ $s.cyan }}66"    },
          { "background": "{{ $s.green }}",   "cursor": "{{ $s.green }}",   "selection": "{{ $s.green }}66"   },
          { "background": "{{ $s.magenta }}", "cursor": "{{ $s.magenta }}", "selection": "{{ $s.magenta }}66" },
          { "background": "{{ $s.orange }}",  "cursor": "{{ $s.orange }}",  "selection": "{{ $s.orange }}66"  },
          { "background": "{{ $s.red }}",     "cursor": "{{ $s.red }}",     "selection": "{{ $s.red }}66"     },
          { "background": "{{ $s.violet }}",  "cursor": "{{ $s.violet }}",  "selection": "{{ $s.violet }}66"  },
          { "background": "{{ $s.yellow }}",  "cursor": "{{ $s.yellow }}",  "selection": "{{ $s.yellow }}66"  }
        ],
        "predictive": "{{ $s.magenta }}",
        "predictive.background": "{{ $s.base03 }}00",
        "predictive.border": "{{ $s.magenta }}",
        "renamed": "{{ $s.magenta }}",
        "renamed.background": "{{ $s.base03 }}00",
        "renamed.border": "{{ $s.magenta }}",
        "scrollbar.thumb.background": "{{ $s.base02 }}BB",
        "scrollbar.thumb.border": null,
        "scrollbar.thumb.hover_background": "{{ $s.base02 }}",
        "scrollbar.track.background": null,
        "scrollbar.track.border": "{{ $s.base02 }}",
        "search.match_background": "{{ $s.yellow }}99",
        "status_bar.background": "{{ $s.base02 }}",
        "success": "{{ $s.green }}",
        "success.background": "{{ $s.base03 }}00",
        "success.border": "{{ $s.green }}",
        "surface.background": "{{ $s.base03 }}",
        "syntax": {
          "attribute":             { "color": "{{ $s.blue }}"    },
          "boolean":               { "color": "{{ $s.yellow }}"  },
          "comment":               { "color": "{{ $s.base01 }}", "font_style": "italic" },
          "comment.doc":           { "color": "{{ $s.base01 }}", "font_style": "italic" },
          "constant":              { "color": "{{ $s.cyan }}"    },
          "constructor":           { "color": "{{ $s.blue }}"    },
          "embedded":              { "color": "{{ $s.base0 }}"   },
          "emphasis":              { "color": "{{ $s.blue }}"    },
          "emphasis.strong":       { "color": "{{ $s.blue }}",   "font_weight": 700 },
          "enum":                  { "color": "{{ $s.orange }}"  },
          "function":              { "color": "{{ $s.blue }}"    },
          "hint":                  { "color": "#4f8297ff",        "font_weight": 700 },
          "keyword":               { "color": "{{ $s.green }}"   },
          "label":                 { "color": "{{ $s.blue }}"    },
          "link_text":             { "color": "{{ $s.blue }}",   "font_style": "italic" },
          "link_uri":              { "color": "{{ $s.violet }}"  },
          "number":                { "color": "{{ $s.magenta }}" },
          "operator":              { "color": "{{ $s.green }}"   },
          "predictive":            { "background_color": "{{ $s.base03 }}", "color": "{{ $s.magenta }}" },
          "preproc":               { "color": "{{ $s.orange }}"  },
          "primary":               { "color": "{{ $s.base0 }}"   },
          "property":              { "color": "{{ $s.blue }}"    },
          "punctuation":           { "color": "{{ $s.base01 }}"  },
          "punctuation.bracket":   { "color": "{{ $s.base01 }}"  },
          "punctuation.delimiter": { "color": "{{ $s.base01 }}"  },
          "punctuation.list_marker": { "color": "{{ $s.base01 }}" },
          "punctuation.special":   { "color": "{{ $s.base01 }}"  },
          "string":                { "color": "{{ $s.cyan }}"    },
          "string.escape":         { "color": "{{ $s.base01 }}"  },
          "string.regex":          { "color": "{{ $s.orange }}"  },
          "string.special":        { "color": "{{ $s.orange }}"  },
          "string.special.symbol": { "color": "{{ $s.orange }}"  },
          "tag":                   { "color": "{{ $s.red }}"     },
          "text.literal":          { "color": "{{ $s.cyan }}"    },
          "title":                 { "color": "{{ $s.orange }}",  "font_weight": 700 },
          "type":                  { "color": "{{ $s.yellow }}"  },
          "variable":              { "color": "{{ $s.base0 }}"   },
          "variant":               { "color": "{{ $s.blue }}"    }
        },
        "tab.active_background": "{{ $s.base03 }}",
        "tab.inactive_background": "{{ $s.base02 }}",
        "tab_bar.background": "{{ $s.base02 }}",
        "terminal.ansi.background": "{{ $s.base03 }}",
        "terminal.ansi.black": "{{ $s.base02 }}",
        "terminal.ansi.blue": "{{ $s.blue }}",
        "terminal.ansi.bright_black": "{{ $s.base03 }}",
        "terminal.ansi.bright_blue": "{{ $s.base0 }}",
        "terminal.ansi.bright_cyan": "{{ $s.base1 }}",
        "terminal.ansi.bright_green": "{{ $s.base01 }}",
        "terminal.ansi.bright_magenta": "{{ $s.violet }}",
        "terminal.ansi.bright_red": "{{ $s.orange }}",
        "terminal.ansi.bright_white": "{{ $s.base3 }}",
        "terminal.ansi.bright_yellow": "{{ $s.base00 }}",
        "terminal.ansi.cyan": "{{ $s.cyan }}",
        "terminal.ansi.dim_black": "{{ $s.base02 }}",
        "terminal.ansi.dim_blue": "{{ $s.blue }}",
        "terminal.ansi.dim_cyan": "{{ $s.cyan }}",
        "terminal.ansi.dim_green": "{{ $s.green }}",
        "terminal.ansi.dim_magenta": "{{ $s.magenta }}",
        "terminal.ansi.dim_red": "{{ $s.red }}",
        "terminal.ansi.dim_white": "{{ $s.base2 }}",
        "terminal.ansi.dim_yellow": "{{ $s.yellow }}",
        "terminal.ansi.green": "{{ $s.green }}",
        "terminal.ansi.magenta": "{{ $s.magenta }}",
        "terminal.ansi.red": "{{ $s.red }}",
        "terminal.ansi.white": "{{ $s.base2 }}",
        "terminal.ansi.yellow": "{{ $s.yellow }}",
        "terminal.background": "{{ $s.base03 }}",
        "terminal.bright_foreground": "{{ $s.base1 }}",
        "terminal.dim_foreground": "{{ $s.base01 }}",
        "terminal.foreground": "{{ $s.base0 }}",
        "text": "{{ $s.base0 }}",
        "text.accent": "{{ $s.base1 }}",
        "text.disabled": "{{ $s.base01 }}",
        "text.muted": "{{ $s.base01 }}",
        "text.placeholder": "{{ $s.base01 }}",
        "title_bar.background": "{{ $s.base02 }}",
        "title_bar.inactive_background": "{{ $s.base02 }}",
        "toolbar.background": "{{ $s.base03 }}",
        "unreachable": "{{ $s.violet }}",
        "unreachable.background": "{{ $s.base03 }}",
        "unreachable.border": "{{ $s.violet }}",
        "warning": "{{ $s.orange }}",
        "warning.background": "{{ $s.base03 }}",
        "warning.border": "{{ $s.orange }}"
      }
    },
    {
      "appearance": "light",
      "name": "Solarized Light",
      "style": {
        "accents": ["{{ $s.blue }}"],
        "background": "{{ $s.base3 }}",
        "background.appearance": "transparent",
        "border": "{{ $s.base1 }}",
        "border.disabled": null,
        "border.focused": "{{ $s.base00 }}",
        "border.selected": "{{ $s.blue }}",
        "border.transparent": null,
        "border.variant": null,
        "conflict": "{{ $s.red }}",
        "conflict.background": "{{ $s.base3 }}",
        "conflict.border": "{{ $s.red }}",
        "created": "{{ $s.green }}",
        "created.background": "{{ $s.base3 }}",
        "created.border": "{{ $s.green }}",
        "deleted": "{{ $s.orange }}",
        "deleted.background": "{{ $s.base3 }}",
        "deleted.border": "{{ $s.orange }}",
        "drop_target.background": "{{ $s.base2 }}",
        "editor.active_line.background": "{{ $s.base2 }}",
        "editor.active_line_number": "{{ $s.base00 }}",
        "editor.active_wrap_guide": "{{ $s.base1 }}",
        "editor.background": "{{ $s.base3 }}",
        "editor.document_highlight.bracket_background": "{{ $s.blue }}66",
        "editor.document_highlight.read_background": "{{ $s.blue }}33",
        "editor.document_highlight.write_background": "{{ $s.blue }}33",
        "editor.foreground": "{{ $s.base00 }}",
        "editor.gutter.background": "{{ $s.base3 }}",
        "editor.highlighted_line.background": "{{ $s.base3 }}",
        "editor.indent_guide": "{{ $s.base2 }}",
        "editor.indent_guide_active": "{{ $s.orange }}",
        "editor.invisible": "{{ $s.base2 }}",
        "editor.line_number": "{{ $s.base1 }}",
        "editor.subheader.background": "{{ $s.base3 }}",
        "editor.wrap_guide": "{{ $s.base2 }}",
        "element.active": "{{ $s.base2 }}",
        "element.background": "{{ $s.base2 }}",
        "element.disabled": "{{ $s.base2 }}",
        "element.hover": "{{ $s.base2 }}",
        "element.selected": "{{ $s.blue }}66",
        "elevated_surface.background": "{{ $s.base3 }}",
        "error": "{{ $s.red }}",
        "error.background": "{{ $s.base3 }}",
        "error.border": "{{ $s.red }}",
        "ghost_element.active": "{{ $s.base00 }}",
        "ghost_element.background": "{{ $s.base2 }}",
        "ghost_element.disabled": "{{ $s.base1 }}",
        "ghost_element.hover": "{{ $s.blue }}66",
        "ghost_element.selected": "{{ $s.blue }}66",
        "hidden": "{{ $s.base1 }}",
        "hidden.background": "{{ $s.base3 }}",
        "hidden.border": "{{ $s.base3 }}",
        "hint": "{{ $s.base1 }}AA",
        "hint.background": "{{ $s.base3 }}00",
        "hint.border": "{{ $s.base1 }}",
        "icon": "{{ $s.base00 }}",
        "icon.accent": "{{ $s.blue }}",
        "icon.disabled": "{{ $s.base1 }}",
        "icon.muted": "{{ $s.base1 }}",
        "icon.placeholder": "{{ $s.base1 }}",
        "ignored": "{{ $s.base1 }}",
        "ignored.background": "{{ $s.base3 }}",
        "ignored.border": "{{ $s.base1 }}",
        "info": "{{ $s.blue }}",
        "info.background": "{{ $s.base3 }}",
        "info.border": "{{ $s.blue }}",
        "link_text.hover": "{{ $s.blue }}",
        "modified": "{{ $s.yellow }}",
        "modified.background": "{{ $s.base3 }}",
        "modified.border": "{{ $s.yellow }}",
        "pane.focused_border": "{{ $s.blue }}",
        "pane_group.border": "{{ $s.base00 }}",
        "panel.background": "{{ $s.base2 }}",
        "panel.focused_border": "{{ $s.blue }}",
        "panel.indent_guide": "{{ $s.base1 }}",
        "panel.indent_guide_active": "{{ $s.orange }}",
        "panel.indent_guide_hover": "{{ $s.base00 }}",
        "players": [
          { "background": "{{ $s.blue }}",    "cursor": "{{ $s.blue }}",    "selection": "{{ $s.blue }}66"    },
          { "background": "{{ $s.cyan }}",    "cursor": "{{ $s.cyan }}",    "selection": "{{ $s.cyan }}66"    },
          { "background": "{{ $s.green }}",   "cursor": "{{ $s.green }}",   "selection": "{{ $s.green }}66"   },
          { "background": "{{ $s.magenta }}", "cursor": "{{ $s.magenta }}", "selection": "{{ $s.magenta }}66" },
          { "background": "{{ $s.orange }}",  "cursor": "{{ $s.orange }}",  "selection": "{{ $s.orange }}66"  },
          { "background": "{{ $s.red }}",     "cursor": "{{ $s.red }}",     "selection": "{{ $s.red }}66"     },
          { "background": "{{ $s.violet }}",  "cursor": "{{ $s.violet }}",  "selection": "{{ $s.violet }}66"  },
          { "background": "{{ $s.yellow }}",  "cursor": "{{ $s.yellow }}",  "selection": "{{ $s.yellow }}66"  }
        ],
        "predictive": "{{ $s.magenta }}",
        "predictive.background": "{{ $s.base3 }}00",
        "predictive.border": "{{ $s.magenta }}",
        "renamed": "{{ $s.magenta }}",
        "renamed.background": "{{ $s.base3 }}00",
        "renamed.border": "{{ $s.magenta }}",
        "scrollbar.thumb.background": "{{ $s.base2 }}BB",
        "scrollbar.thumb.border": null,
        "scrollbar.thumb.hover_background": "{{ $s.base2 }}",
        "scrollbar.track.background": null,
        "scrollbar.track.border": "{{ $s.base2 }}",
        "search.match_background": "{{ $s.yellow }}99",
        "status_bar.background": "{{ $s.base2 }}",
        "success": "{{ $s.green }}",
        "success.background": "{{ $s.base3 }}00",
        "success.border": "{{ $s.green }}",
        "surface.background": "{{ $s.base3 }}",
        "syntax": {
          "attribute":             { "color": "{{ $s.blue }}"    },
          "boolean":               { "color": "{{ $s.yellow }}"  },
          "comment":               { "color": "{{ $s.base1 }}", "font_style": "italic" },
          "comment.doc":           { "color": "{{ $s.base1 }}", "font_style": "italic" },
          "constant":              { "color": "{{ $s.cyan }}"    },
          "constructor":           { "color": "{{ $s.blue }}"    },
          "embedded":              { "color": "{{ $s.base00 }}"  },
          "emphasis":              { "color": "{{ $s.blue }}"    },
          "emphasis.strong":       { "color": "{{ $s.blue }}",   "font_weight": 700 },
          "enum":                  { "color": "{{ $s.orange }}"  },
          "function":              { "color": "{{ $s.blue }}"    },
          "hint":                  { "color": "#4f8297ff",        "font_weight": 700 },
          "keyword":               { "color": "{{ $s.green }}"   },
          "label":                 { "color": "{{ $s.blue }}"    },
          "link_text":             { "color": "{{ $s.blue }}",   "font_style": "italic" },
          "link_uri":              { "color": "{{ $s.violet }}"  },
          "number":                { "color": "{{ $s.magenta }}" },
          "operator":              { "color": "{{ $s.green }}"   },
          "predictive":            { "background_color": "{{ $s.base3 }}", "color": "{{ $s.magenta }}" },
          "preproc":               { "color": "{{ $s.orange }}"  },
          "primary":               { "color": "{{ $s.base00 }}"  },
          "property":              { "color": "{{ $s.blue }}"    },
          "punctuation":           { "color": "{{ $s.base1 }}"   },
          "punctuation.bracket":   { "color": "{{ $s.base1 }}"   },
          "punctuation.delimiter": { "color": "{{ $s.base1 }}"   },
          "punctuation.list_marker": { "color": "{{ $s.base1 }}" },
          "punctuation.special":   { "color": "{{ $s.base1 }}"   },
          "string":                { "color": "{{ $s.cyan }}"    },
          "string.escape":         { "color": "{{ $s.base1 }}"   },
          "string.regex":          { "color": "{{ $s.orange }}"  },
          "string.special":        { "color": "{{ $s.orange }}"  },
          "string.special.symbol": { "color": "{{ $s.orange }}"  },
          "tag":                   { "color": "{{ $s.red }}"     },
          "text.literal":          { "color": "{{ $s.cyan }}"    },
          "title":                 { "color": "{{ $s.orange }}",  "font_weight": 700 },
          "type":                  { "color": "{{ $s.yellow }}"  },
          "variable":              { "color": "{{ $s.base00 }}"  },
          "variant":               { "color": "{{ $s.blue }}"    }
        },
        "tab.active_background": "{{ $s.base3 }}",
        "tab.inactive_background": "{{ $s.base2 }}",
        "tab_bar.background": "{{ $s.base2 }}",
        "terminal.ansi.background": "{{ $s.base3 }}",
        "terminal.ansi.black": "{{ $s.base02 }}",
        "terminal.ansi.blue": "{{ $s.blue }}",
        "terminal.ansi.bright_black": "{{ $s.base03 }}",
        "terminal.ansi.bright_blue": "{{ $s.base0 }}",
        "terminal.ansi.bright_cyan": "{{ $s.base1 }}",
        "terminal.ansi.bright_green": "{{ $s.base01 }}",
        "terminal.ansi.bright_magenta": "{{ $s.violet }}",
        "terminal.ansi.bright_red": "{{ $s.orange }}",
        "terminal.ansi.bright_white": "{{ $s.base3 }}",
        "terminal.ansi.bright_yellow": "{{ $s.base00 }}",
        "terminal.ansi.cyan": "{{ $s.cyan }}",
        "terminal.ansi.dim_black": "{{ $s.base02 }}",
        "terminal.ansi.dim_blue": "{{ $s.blue }}",
        "terminal.ansi.dim_cyan": "{{ $s.cyan }}",
        "terminal.ansi.dim_green": "{{ $s.green }}",
        "terminal.ansi.dim_magenta": "{{ $s.magenta }}",
        "terminal.ansi.dim_red": "{{ $s.red }}",
        "terminal.ansi.dim_white": "{{ $s.base2 }}",
        "terminal.ansi.dim_yellow": "{{ $s.yellow }}",
        "terminal.ansi.green": "{{ $s.green }}",
        "terminal.ansi.magenta": "{{ $s.magenta }}",
        "terminal.ansi.red": "{{ $s.red }}",
        "terminal.ansi.white": "{{ $s.base2 }}",
        "terminal.ansi.yellow": "{{ $s.yellow }}",
        "terminal.background": "{{ $s.base3 }}",
        "terminal.bright_foreground": "{{ $s.base01 }}",
        "terminal.dim_foreground": "{{ $s.base1 }}",
        "terminal.foreground": "{{ $s.base00 }}",
        "text": "{{ $s.base00 }}",
        "text.accent": "{{ $s.base01 }}",
        "text.disabled": "{{ $s.base1 }}",
        "text.muted": "{{ $s.base1 }}",
        "text.placeholder": "{{ $s.base1 }}",
        "title_bar.background": "{{ $s.base2 }}",
        "title_bar.inactive_background": "{{ $s.base2 }}",
        "toolbar.background": "{{ $s.base3 }}",
        "unreachable": "{{ $s.violet }}",
        "unreachable.background": "{{ $s.base3 }}",
        "unreachable.border": "{{ $s.violet }}",
        "warning": "{{ $s.orange }}",
        "warning.background": "{{ $s.base3 }}",
        "warning.border": "{{ $s.orange }}"
      }
    }
  ]
}
